body{
text-align:center;
background-color:black;
color:aqua;
}
#home{
width:100%;
height:100%;
}
.announcement{
background-color:black;
}
#AboutAECS h3{
font-size:20;
font-family: 'Architects Daughter', cursive;
}
#AboutAECS{
padding:400px;
height:100%;
width:100%;
}
#Gallery{
height:100%;
width:100%;
padding-top:400px;
}
.galleryImages{
height:400px;
width:500px;
}
#home iframe{
padding:0px;
}
.campuslifeimg{
height:300px;
width:650px;
}
.achievements{
font-size:20px;
padding:6px 22px;
border-radius:15px;
margin-bottom:20px;
width:100%;
display:inline-block;
}
.achievements i{
float:right;
color:white;
}
.achievements span{
width:230px;
}
